span {
    /* Styling stuff */
    color: white;
    display:inline-block; /* inline-block so text can ignore margins for animation */
    padding:1px; /* added for a bit of space b/w letters */
    font-family: sans-serif;
    font-size: 5vw;

    /* Animation stuff */
    animation-play-state: paused;
    transition: all 1s ease;
    transform: translateY(25px);
    opacity: 0;
}

/* individually moves/translates each "character" (aka span that we converted) */
span.textFlyInAnimationByLetter {
    opacity: 1;
    transform: translateY(0px);
}