#Qualifications {
    margin: 20px 0px 20px 0px;
}

#qualificationsAccordion {
    margin-bottom: 25px;
}

#qual-text-container {
    width: 50%;
    border-radius: 5px;
}

#qual-text {
    width: 80%; 
    margin: auto;
}

#resume {
    min-height: 100vh;
    width: 40%;
}

#resume-button {
    display: block;
    bottom: 0;
    padding: 20px;
    background-color: #2D2D2D;
    border-color: #2D2D2D;
}

.section-header {
    font-size: 22px;
    margin-bottom: 8px;
}

.accordion-button {
    background-color: #2D2D2D !important;
}

.accordion-body {
    background-color: #4E4E4E !important;
}

.accordion-button, .accordion-button::after {
    color: white !important;
}

@media only screen and (max-width: 850px) {
    #resume {
        display: none;
    }

    #Qualifications > div {
        width: 90% !important;
    }

    #qual-text-container {
        background: #4e4e4e;
    }
}

@media only screen and (max-width: 750px) {
    #Qualifications > div > div {
        width: 100% !important;
    }
}