#sidebar {
    border-radius: 15px;
    position: fixed;
    right: 3vw;

    z-index: 1000;

    display: grid;
    background: #4e4e4e;
    background: #00000054;
}

#sidebar a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.sidebar-icon {
    background: rgb(39, 39, 39);
    border-radius: 10px;
  
    height: 100px;
    width: 110px;
    padding: 10px;
  
    margin: auto;
  
    cursor: pointer;
    margin-bottom: 5px;
    bottom: 5%;
    right: 5%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sidebar-icon > img {
    height: 60%;
    width: 60%;
    user-select: none;
}

.sidebar-icon > p {
    margin: 0;
    user-select: none;
}

.sidebar-icon:hover {
    box-shadow: 2px 2px 0px rgb(206, 206, 206);
}

.sidebar-icon:active {
    box-shadow: 2px 2px 0px rgb(255, 255, 255); 
}

#sidebar.scroll {
    padding: 5px;
}