/* Everything: no margins padding & box-sizing : border-box */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background is black by default & default white colored text */
body {
  background: black;
  color: white;
}

.centerDiv {
  text-align: center;
  margin: 9vw;
}