.awards {
    animation: fadeIn;
    animation-duration: 1s;
}

.awards .welcome-container {
    background-image: url("images/IMG_0220.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.awards .welcome-title {
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: min-content;
}

.awards .welcome-container h1 {
    text-align: center;
    font-size: 60px;
}