#Qualifications {
    margin: 20px 0px 20px 0px;
}

#resume {
    height: 90vh;
    width: 40%;
}

@media only screen and (max-width: 1000px) {
    #resume {
        display: none;
    }

    #Qualifications > div {
        width: 90% !important;
    }
}

@media only screen and (max-width: 750px) {
    #Qualifications > div > div {
        width: 100% !important;
    }
}