#Service > .content {
    width: 60%;
    margin: auto;
    padding: 0;
}

#service-card {
    height: 100%;
}

#Service .bold {
    margin: 0;
}

#Service img {
    max-width: 90%;
    min-width: 85%;
    margin: auto;
    display: flex;
    align-self: center;
    margin-bottom: 20px;
}

#Service .display-6 {
    color: rgb(180, 180, 180);
    font-size: 28px;
}

#Service .fs-4 {
    line-height: normal;
}

.display-4, .display-6 {
    font-weight: 400;
}

@media only screen and (max-width: 750px) {
    #Service > .content {
        width: 100%;
    }

    #service-card {
        max-height: 400px;
    }
}